#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.8);
    /* 반투명 배경 */
    padding: 15px 7%;
    transition: 0.5s;
    position: fixed;
    z-index: 10000;
    backdrop-filter: blur(10px);

    .logo {
        width: 200px;
        cursor: pointer;
        margin-right: auto;

        svg {
            width: 40px;
            height: 40px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                margin-left: 10px;
                font-size: 20px;
            }
        }
    }

    .toggle-icon {
        width: 40px;
        cursor: pointer;
        margin-left: 40px;
    }

    .search-box {
        display: flex;
        align-items: center;
        background: #242424;
        padding: 1px 6px;
        border-radius: 50px;
    
        input {
            padding: 6px;
            background: transparent;
            border: 0;
            outline: 0;
            color: #fff;
            font-size: 18px;
            max-width: 200px;
    
            &::placeholder {
                color: #fff;
                font-size: 14px;
            }
        }
    
        img {
            width: 20px;
            cursor: pointer;
        }
    
        .search-results {
            position: absolute;
            top: 100%; /* Adjust as needed */
            left: 0;
            margin-inline: auto;
            background: #fff;
            color: #000;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-height: 400px;
            overflow-y: scroll;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    
            /* Hide scrollbar for WebKit browsers (e.g., Chrome, Safari) */
            &::-webkit-scrollbar {
                width: 0px;
                background: transparent;
                /* Optional: just to ensure it's hidden */
            }
    
            /* Hide scrollbar for Firefox */
            scrollbar-width: none;
            /* For Firefox */
    
            &.visible {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
    
            .no-results {
                padding: 1rem;
                text-align: center;
                color: #999;
            }
    
            .result-item {
                padding: 1rem;
                border-bottom: 1px solid #ddd;
                display: flex;
    
                .img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        border: 1px solid var(--black);
                    }
                }
    
                &:last-child {
                    border-bottom: none;
                }
    
                &:hover {
                    background: #f1f1f1;
                }
    
                .search-item {
                    display: flex;
                    flex-direction: column;
                    padding-left: 20px;
                }
            }
        }
    }
}

.dark #header {
    background-color: #000;
    color: #fff;
    backdrop-filter: blur(10px); // 다크 모드일 때 블러 처리 추가

    .search-box {
        background: #fff;

        input {
            color: #222;

            &::placeholder {
                color: #222;
            }
        }
    }

    .search-results {
        background-color: #222;
        color: #fff;

        .result-item {
            &:hover {
                background-color: #eee;
                color: #000;
            }
        }


    }
}