.container__logo {
    width: 90%;
    max-width: 1440px;
    margin-inline: auto;
    margin-top: 100px;
}

.logo__title {
    padding-bottom: 30px;
    font-size: 2.6rem;
    font-family: var(--fontE);

    em {
        font-size: 3.8rem;
        color: red;
    }
}

.logo__style {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // 기본 최소 크기 200px
    gap: 1rem;
}

.flip-card {
    background-color: #f8f8f8;
    /* 카드 배경색 추가 */
    width: 100%;
    height: 300px;
    perspective: 1000px;

    @media (max-width: 500px) {
        height: 200px;
        /* 500px 이하일 때 높이 조정 */
    }
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid var(--black);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    /* 호버 효과를 위한 트랜지션 추가 */
}

.flip-card-front {
    background-color: #ffeb99;
    /* 앞면 배경색 추가 */

    span {
        font-size: 20px;
        color: #333;
        /* 텍스트 색상 변경 */
        padding: 10px 20px;
        font-family: var(--fontE);
        font-weight: 700;
    }

    .logo-img {
        display: block;
        width: 200px;
        height: 180px;
        background-color: var(--white);
        object-fit: contain;
        object-position: center;
        border-radius: 22px;

        @media (max-width: 500px) {
            max-width: 100px;
            /* 500px 이하일 때 너비 조정 */
            max-height: 100px;
            /* 500px 이하일 때 높이 조정 */
        }
    }
}

.flip-card-back {
    background-color: #ffcc00;
    /* 뒷면 배경색 추가 */
    transform: rotateY(180deg);

    span {
        font-size: 26px;
        color: #333;
        /* 텍스트 색상 변경 */
        margin-bottom: 10px;
        font-family: var(--fontE);
    }

    p {
        color: #333;
        /* 텍스트 색상 변경 */
        padding: 0 20px;
        font-size: 20px;
        font-family: var(--fontC);
        transition: color 0.3s, background-color 0.3s, transform 0.3s;
        /* 호버 효과를 위한 트랜지션 추가 */
    }

    p:hover {
        color: #333;
        /* 호버 시 텍스트 색상 변경 */
        background-color: #ffeb99;
        /* 호버 시 배경색 추가 */
        transform: scale(1.1);
        /* 호버 시 확대 효과 */
        border-radius: 10px;
        /* 호버 시 배경색과 잘 어울리도록 둥근 모서리 추가 */
    }
}

.flip-card:hover .flip-card-front,
.flip-card:hover .flip-card-back {
    background-color: #ffcc00;
    /* 호버 시 배경색 변경 */
    color: #333;
    /* 호버 시 텍스트 색상 변경 */
}

.dark {
    color: #f8f8f8;

    em {
        color: aqua;
    }

    .flip-card {
        background-color: #222;
        transition: all 0.5s;
    }
}



@media (max-width: 500px) {
    .logo__style {
        grid-template-columns: repeat(2, 1fr); // 500px 이하일 때 열 수를 두 개로 제한
    }
}