.menu__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fontA);
    font-size: 56px;
    padding-bottom: 60px;
    padding-top: 100px;

    span {
        display: block;
        color: var(--black);
        font-weight: bold;
        font-size: 24px;

    }
}


.chiken {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.menu__chiken {
    border: 1px solid var(--black);
    border-radius: 28px;

    .menu__img {
        padding: 20px;
        height: 260px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: var(--white);
            border-radius: 20px;
        }
    }

    .menu__list {
        padding: 20px;
        line-height: 1.7;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        .tit {
            font-size: 1.25rem;
            margin-bottom: 20px;
            font-weight: 900;
            text-align: left;

            span {
                color: var(--black);
            }
        }

        .sub {
            margin-bottom: 20px;
            color: #5c5b5b;
        }

        .pic {
            text-align: center;
            font-size: 1.25rem;
            border: 1px solid var(--black);
            border-radius: 10px;
            background: var(--black);

            span {
                font-size: 1rem;
                color: var(--white);
            }
        }
    }


}

.dark .menu__list {
    .tit {

        /* 다크 모드에서 사용할 빨간색 */
        span {
            color: var(--white);
        }
    }
}

.dark {
    .menu__title {
        color: red;
    }
}

.order-button1 {
    position: absolute;
    right: 228px;
    top: 180px;
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

.order-button1:hover {
    background-color: #f6421a;
}