.menu__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 160px;
    font-family: var(--fontA);
    font-size: 56px;

    span {
        display: block;
        color: var(--black);
        font-weight: bold;
        font-size: 24px;
    }
}


.chiken {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.menu__chiken {
    .menu__img {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            background-color: var(--black);
        }
    }

    .menu__list {
        padding: 10px;
        line-height: 1.7;

        .tit {
            font-size: 1.25rem;
            color: red;
            padding-bottom: 10px;

            span {
                color: var(--black);
            }
        }

        .sub {
            padding-bottom: 10px;
        }

        .pic {
            font-size: 1.25rem;

            span {
                font-size: 1rem;
                color: #e3ea05;
            }
        }

    }
}

.dark .menu__list {
    .tit {
        color: #ff0000;

        /* 다크 모드에서 사용할 빨간색 */
        span {
            color: red;
        }
    }
}

.dark {
    span {
        color: red;
    }
}

.dark {
    .menu__title {
        color: red;
    }
}