@font-face {
    font-family: 'Hakgyoansim';
    src: url('TTHakgyoansimYeohaengR.woff2') format('woff2'),
        url('TTHakgyoansimYeohaengR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}