body {
    background-color: #f7f6f7;
}

.container {
    max-width: 1260px;
    width: 98%;
    margin: 0 auto;
}

.body {
    background-color: #f7f6f7;
}

.body.dark {
    background: #222;
    transition: 0.5s;
}