@font-face {
    font-family: 'Hakgyoansim';
    src: url('../../fonts/hakgyo/TTHakgyoansimYeohaengR.woff2') format('woff2'),
        url('../../fonts/hakgyo/TTHakgyoansimYeohaengR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DoHyeon';
    src: url('../../fonts/hyeon/BMDoHyeon.woff2') format('woff2'),
        url('../../fonts/hyeon/BMDoHyeon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../../fonts/gmarket/GmarketSansTTFBold.woff2') format('woff2'),
        url('../../fonts/gmarket/GmarketSansTTFBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../../fonts/gmarket/GmarketSansTTFMedium.woff2') format('woff2'),
        url('../../fonts/gmarket/GmarketSansTTFMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GmarkeSans';
    src: url('../../fonts/gmarket/GmarketSansTTFLight.woff2') format('woff2'),
        url('../../fonts/gmarket/GmarketSansTTFLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Regular-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ownglyph_noocar-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_noocar-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}