#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

/* 
==========================================================================
CSS 구조 개요
==========================================================================
- #footer: 전체 푸터 섹션
  |-- p.maile: 메일 텍스트 스타일
  |-- .footer__lnner: 푸터 내부 구조
    |-- .left: 왼쪽 영역
      |-- ul: 링크 목록
        |-- li: 개별 링크 항목
          |-- ul: 링크 항목 내부 목록
            |-- li > a: 내부 링크 스타일
    |-- .right: 오른쪽 영역
      |-- .sns ul: SNS 아이콘 목록
        |-- li a: SNS 아이콘 스타일
  |-- .footer__bot: 푸터 하단 영역
    |-- p.copy: 카피라이트 텍스트
    |-- .left_bot: 하단 왼쪽 영역
    |-- .right_bot: 하단 오른쪽 영역
      |-- ul: 오른쪽 영역의 링크 목록
        |-- li: 오른쪽 영역의 개별 링크 항목
          |-- a: 링크 항목의 스타일
==========================================================================
*/

#footer {
    max-width: 1440px;
    min-height: 250px;
    padding-top: 100px;
    margin: 0 auto;
}



    #footer {
        
        .dark {
            transition: all 0.5s;
        }
    }


#footer p.maile {
    font-size: 0.875rem;
    padding-bottom: 30px;
    color: var(--mainColor);
}

.footer__lnner {
    padding: 1.2rem 0;
    display: flex;
    justify-content: space-between;
}

.footer__lnner .left {
    width: 70%;
}

.footer__lnner .left>ul {
    display: flex;
    margin-bottom: 3.25rem;
    font-weight: 500;
    font-size: 1rem;
}

.footer__lnner .left>ul>li {
    padding: 0 1rem;
    text-align: left;
    color: var(--mainColor);
    font-family: var(--fontN);
    font-weight: bold;
}

.footer__lnner .left>ul>li>ul {
    padding: 1rem 0;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 2;
}

.footer__lnner .left>ul>li>ul>li>a {
    display: inline-block;
    color: var(--mainColor);
    font-weight: 400;
    line-height: 2;
}

.footer__lnner .left {
    ul {
        li {
            span {
                color: #222;
            }
            ul {
                li {
                    span {
                        color: #222;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.dark {
    .footer__lnner .left {
        ul {
            li {
                a {
                    color: var(--white);
                }
                span {
                    color: var(--white);
                }
                ul {
                    li {
                        span {
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
}

.footer__lnner .left ul li ul .footer__lnner .right {
    width: 50%;
    text-align: right;
}



.footer__bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.footer__bot p.copy {
    font-size: 0.875rem;
    color: var(--mainColor)
}

.footer__bot .left_bot,
.footer__bot .right_bot {
    display: flex;
}

.footer__bot .right_bot>ul {
    display: flex;
    padding: 0;
}

.footer__bot .right_bot>ul>li {
    margin-right: 0.875rem;
}

.footer__bot .right_bot>ul>li>a {
    font-size: 0.875rem;
    color: var(--mainColor);
}

.footer__bot .right_bot>ul>li:last-child {
    margin-right: 0;
}

.footer__lnner .right .sns ul {
    display: flex;
    justify-content: right;
}

.footer__lnner .right .sns li {
    margin-left: 10px;
}

.footer__lnner .right .sns li svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.dark {
    .footer__bot {
        .left_bot {
            .copy {
                color: var(--white);
            }
        }
        .right_bot {
            ul {
                li {
                    a {
                        color: var(--white);
                    }
                }
            }
        }
    }
    .footer__lnner {
        .right {
            .sns {
                li {
                    svg {
                        color: var(--white);
                    }
                }
            }
        }
    }
}

@media(max-width:500px) {
    .footer__lnner {
        padding: 0;
    }

    .footer__lnner .left>ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 3.25rem;
        font-weight: 500;
        font-size: 1rem;
    }

    .footer__lnner .left>ul>li {
        padding: 1rem;
        text-align: left;
        color: var(--mainColor);
        font-family: var(--fontN);
    }

    .footer__lnner .left>ul>li>ul {
        padding: 1rem 0;
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 2;
    }

    .footer__lnner .left>ul>li>ul>li>a {
        display: inline-block;
        color: var(--mainColor);
        line-height: 2;
        margin: 0;
    }

    .footer__bot .right_bot>ul>li {
        margin: 0.75rem;
    }

    .footer__bot .right_bot>ul>li>a {
        font-size: 0.75rem;
    }

    .footer__bot {
        flex-direction: column;
    }

    #footer p.maile {
        text-align: center;
    }

    .footer__lnner .right .sns ul {
        margin-top: 10px;
    }
}